/* ---------------reset: initialization of the navigator style------------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

/* Start*/
body {
  color: #FFFFFF;
  font-size: 1.125rem;
  font-family: "Manrope", sans-serif;
}
body .site-wrapper {
  position: relative;
  overflow-x: hidden;
}
@media screen and (max-width: 1023.9px) {
  body {
    font-size: 1rem;
  }
}

/* Style header */
header {
  background-color: #FCF8FF;
}
header .wrapper {
  background-color: #24053E;
  height: 730px;
  border-bottom-left-radius: 100% 20%;
  border-bottom-right-radius: 100% 20%;
}
@media screen and (max-width: 1023.9px) {
  header .wrapper {
    height: 540.236px;
    border-bottom-left-radius: 100% 15%;
    border-bottom-right-radius: 100% 15%;
  }
}
@media screen and (max-width: 767.9px) {
  header .wrapper {
    height: 481.707px;
    border-bottom-left-radius: 100% 10%;
    border-bottom-right-radius: 100% 10%;
  }
}
header nav {
  max-width: 1114px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 56px 165px;
}
@media screen and (max-width: 1023.9px) {
  header nav {
    padding: 32px 39px 56px;
  }
}
@media screen and (max-width: 767.9px) {
  header nav {
    padding: 32px 16px 64px;
  }
}
header nav a {
  border-bottom: 3px #44FFA1 solid;
}
header nav a:hover {
  color: #44FFA1;
}
header .banner {
  display: flex;
  flex-direction: column;
  max-width: 635px;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 1023.9px) {
  header .banner {
    max-width: 425px;
  }
}
@media screen and (max-width: 767.9px) {
  header .banner {
    max-width: 343px;
  }
}
header .banner a {
  align-self: center;
  padding: 13px 24.5px 16px 25.5px;
  background-color: #44FFA1;
  color: #24053E;
  font-weight: 700;
}
header .banner a:hover {
  color: #44FFA1;
  border: 2px #44FFA1 solid;
  background-color: #24053E;
}
header h1 {
  font-family: "Fraunces", sans-serif;
  font-size: 5rem;
  margin-bottom: 37px;
}
@media screen and (max-width: 1023.9px) {
  header h1 {
    font-family: "Fraunces", sans-serif;
    font-size: 3.75rem;
    margin-bottom: 39px;
  }
}
@media screen and (max-width: 767.9px) {
  header h1 {
    font-family: "Fraunces", sans-serif;
    font-size: 2.75rem;
    margin-bottom: 40px;
  }
}
header span {
  border-bottom: 3px #44FFA1 solid;
}
header .pattern-one {
  position: absolute;
  top: 135.17px;
  left: -138.03px;
}
@media screen and (max-width: 1023.9px) {
  header .pattern-one {
    top: 71.12px;
    left: -227.27px;
  }
}
@media screen and (max-width: 767.9px) {
  header .pattern-one {
    display: none;
  }
}
header .pattern-two {
  position: absolute;
  top: 314.07px;
  right: -48.08px;
}
@media screen and (max-width: 1023.9px) {
  header .pattern-two {
    top: 250px;
    right: -93.68px;
  }
}
@media screen and (max-width: 767.9px) {
  header .pattern-two {
    display: none;
  }
}
header .hero {
  width: 715px;
  height: 427px;
  object-fit: contain;
  position: relative;
  top: 50px;
}
@media screen and (max-width: 1023.9px) {
  header .hero {
    width: 479.153px;
    height: 286.603px;
    top: 55px;
  }
}
@media screen and (max-width: 767.9px) {
  header .hero {
    width: 298.305px;
    height: 178.159px;
    top: 64px;
    align-self: center;
  }
}

/* Style sections */
.product-benefit {
  background-color: #FCF8FF;
  border-bottom-left-radius: 100% 20%;
  border-bottom-right-radius: 100% 20%;
}
@media screen and (max-width: 1023.9px) {
  .product-benefit {
    border-bottom-left-radius: 100% 15%;
    border-bottom-right-radius: 100% 15%;
  }
}
@media screen and (max-width: 767.9px) {
  .product-benefit {
    border-bottom-left-radius: 100% 5%;
    border-bottom-right-radius: 100% 5%;
  }
}
.product-benefit .wrapper {
  max-width: 1114px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: #24053E;
  line-height: 32px;
  text-align: center;
  padding: 255px 0 171px;
}
@media screen and (max-width: 1023.9px) {
  .product-benefit .wrapper {
    padding: 203.76px 0 103.73px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
}
@media screen and (max-width: 767.9px) {
  .product-benefit .wrapper {
    padding: 155.29px 0 71.71px;
  }
}
.product-benefit .features {
  width: 354px;
}
@media screen and (max-width: 1023.9px) {
  .product-benefit .features {
    width: 573px;
    display: flex;
  }
}
@media screen and (max-width: 767.9px) {
  .product-benefit .features {
    width: 343px;
    flex-direction: column;
    gap: 40px;
  }
}
.product-benefit .features span {
  padding: 16px 24px;
  font-family: "Fraunces", sans-serif;
  font-size: 1.5rem;
  border: 2px #584D62 solid;
  border-radius: 50%;
  color: #24053E;
}
@media screen and (max-width: 1023.9px) {
  .product-benefit .features span {
    padding: 14px 22px;
    font-family: "Fraunces", sans-serif;
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 1023.9px) {
  .product-benefit .features .numerotation {
    align-self: center;
  }
}
.product-benefit .features h2 {
  font-family: "Fraunces", sans-serif;
  font-size: 2rem;
  margin: 56px 0 28px;
}
@media screen and (max-width: 1023.9px) {
  .product-benefit .features h2 {
    font-family: "Fraunces", sans-serif;
    font-size: 1.75rem;
    margin: 0 0 16px 0;
  }
}
@media screen and (max-width: 1023.9px) {
  .product-benefit .features .feature-text {
    text-align: justify;
    padding-left: 32px;
  }
}
@media screen and (max-width: 767.9px) {
  .product-benefit .features .feature-text {
    text-align: center;
    padding-left: 0;
  }
}
@media screen and (max-width: 350px) {
  .product-benefit .features .feature-text {
    margin: 0 1rem;
  }
}

.repeat_offer {
  padding-top: 110px;
}
@media screen and (max-width: 1023.9px) {
  .repeat_offer {
    padding-top: 100.27px;
  }
}
.repeat_offer .wrapper {
  max-width: 1114px;
  margin: auto;
  position: relative;
}
@media screen and (max-width: 1023.9px) {
  .repeat_offer .wrapper {
    max-width: 728px;
  }
}
@media screen and (max-width: 767.9px) {
  .repeat_offer .wrapper {
    max-width: 343px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.repeat_offer .profil_photo {
  width: 450.287px;
  height: 453px;
  object-fit: contain;
}
@media screen and (max-width: 1023.9px) {
  .repeat_offer .profil_photo {
    width: 265px;
    height: 267px;
  }
}
@media screen and (max-width: 767.9px) {
  .repeat_offer .profil_photo {
    width: 281px;
    height: 281px;
  }
}
.repeat_offer .offer {
  background-color: #24053E;
  padding: 64px;
  position: absolute;
  top: 173px;
  left: 382.14px;
  line-height: 32px;
}
@media screen and (max-width: 1023.9px) {
  .repeat_offer .offer {
    top: 151px;
    left: 175px;
    padding: 48px 56px 56px;
    line-height: 28px;
  }
}
@media screen and (max-width: 767.9px) {
  .repeat_offer .offer {
    padding: 32px 31px;
    top: 228px;
    left: 0;
    text-align: center;
  }
}
.repeat_offer .offer h2 {
  font-family: "Fraunces", sans-serif;
  font-size: 3.5rem;
  margin-bottom: 32px;
}
@media screen and (max-width: 1023.9px) {
  .repeat_offer .offer h2 {
    font-family: "Fraunces", sans-serif;
    font-size: 3rem;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 767.9px) {
  .repeat_offer .offer h2 {
    font-family: "Fraunces", sans-serif;
    font-size: 2rem;
    margin-bottom: 16px;
  }
}
.repeat_offer .offer p {
  margin-bottom: 32px;
}
@media screen and (max-width: 1023.9px) {
  .repeat_offer .offer p {
    margin-bottom: 24px;
  }
}
.repeat_offer .offer .pattern-three {
  position: absolute;
  right: 72.69px;
  bottom: -61.74px;
}
@media screen and (max-width: 1023.9px) {
  .repeat_offer .offer .pattern-three {
    right: 12.69px;
    bottom: -105.74px;
  }
}
@media screen and (max-width: 767.9px) {
  .repeat_offer .offer .pattern-three {
    display: none;
  }
}
.repeat_offer .offer a {
  align-self: center;
  padding: 13px 24.5px 16px 25.5px;
  background-color: #44FFA1;
  color: #24053E;
  font-weight: 700;
}
.repeat_offer .offer a:hover {
  color: #44FFA1;
  border: 2px #44FFA1 solid;
  background-color: #24053E;
}

/* Style footer */
footer {
  text-align: center;
  color: #24053E;
  margin-bottom: 15px;
}
footer .references {
  width: 116px;
  height: 102.224px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 221.78px;
  margin-bottom: 110px;
}
@media screen and (max-width: 1023.9px) {
  footer .references {
    margin-top: 320px;
    margin-bottom: 121.78px;
  }
}
@media screen and (max-width: 767.9px) {
  footer .references {
    margin-top: 391px;
    margin-bottom: 63.78px;
  }
}
footer .social_media {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
