@import "./utils/variables", 
        "./utils/mixins";

@import "./bases/reset";

/* Start*/

body {
        color: $primary_text_color;
        font-size: 1.125rem;
        font-family: $body_font_family;

        .site-wrapper {
                position: relative;
                overflow-x: hidden;
        }

        @media screen and (max-width: 1023.9px) {
                font-size: 1rem;
        }
}

/* Style header */

header {
        background-color: $secondary_background_color;

        .wrapper {
                background-color: $primary_background_color;
                height: 730px;
                @include curved_border(100%, 20%);

                @media screen and (max-width: 1023.9px) {
                        height: 540.236px;
                        @include curved_border(100%, 15%);
                }

                @media screen and (max-width: 767.9px) {
                        height: 481.707px;
                        @include curved_border(100%, 10%);
                }
        }

        nav {
                max-width: 1114px;
                margin: auto;
                display: flex;
                justify-content: space-between;
                padding: 57.78px 165px 63.62px;

                @media screen and (max-width: 1023.9px) {
                        padding: 37px 39px 60.39px;
                        
                }

                @media screen and (max-width: 767.9px) {
                        padding: 37px 16px 68.39px;
                }

                a {
                        @include secondary_default;
                }

                a:hover {
                        color: $emphasize_color;
                }
        }

        .banner {
                display:flex;
                flex-direction: column;
                max-width: 635px;
                margin: auto;
                text-align: center;

                @media screen and (max-width: 1023.9px) {
                        max-width: 425px;
                }

                @media screen and (max-width: 767.9px) {
                        max-width: 343px;
                }
                
                a {
                        @include primary_default;
                        font-weight: 700;
                        line-height: 32px;
                }

                a:hover {
                        @include primary_hover;
                }
        }

        h1 {
                @include heading_typography(5rem);
                margin-bottom: 37px; 
                line-height: 80px;

                @media screen and (max-width: 1023.9px) {
                        @include heading_typography(3.75rem);
                        margin-bottom: 39px;
                        line-height: 60px; 
                }

                @media screen and (max-width: 767.9px) {
                        @include heading_typography(2.75rem);
                        margin-bottom: 40px; 
                        line-height: 50px; 
                }
        }

        span {
                @include secondary_default;
                display: inline-block;
                padding-bottom: 1px;
        }

        .pattern-one {
                position: absolute;
                top: 116.64px;
                left: -138.03px;

                @media screen and (max-width: 1023.9px) {
                        top: 71.12px;
                        left: -227.27px;
                }

                @media screen and (max-width: 767.9px) {
                        display: none;
                }
        }

        .pattern-two {
                position: absolute;
                top: 314.07px;
                right: -48.08px;

                @media screen and (max-width: 1023.9px) {
                        top: 250px;
                        right: -93.68px;
                }

                @media screen and (max-width: 767.9px) {
                        display: none;
                }
        }

        .hero {
                width: 715px;
                height: 427px; 
                position: relative;
                top: 64px;

                @media screen and (max-width: 1023.9px) {
                        width: 479.153px;
                        height: 286.603px; 
                        top: 55px;
                }

                @media screen and (max-width: 767.9px) {
                        width: 298.305px;
                        height: 178.159px; 
                        top: 64px;
                        align-self: center;
                }
        }
}

/* Style sections */

.product-benefit {
        
        background-color: $secondary_background_color;
        @include curved_border(100%, 20%);

        @media screen and (max-width: 1023.9px) {
                @include curved_border(100%, 15%);
        }

        @media screen and (max-width: 767.9px) {
                @include curved_border(100%, 5%);
        }

        .wrapper { 
                max-width: 1114px;
                margin: auto;
                display: flex;
                justify-content: space-between;
                color: $secondary_text_color;
                line-height: 32px;
                text-align: center;
                padding: 255px 0 171px;

                @media screen and (max-width: 1023.9px) {
                        padding: 203.76px 0 103.73px;
                        flex-direction: column;
                        align-items: center;
                        gap: 48px;
                }

                @media screen and (max-width: 767.9px) {
                        padding: 155.29px 0 71.71px;
                }
        }

        .features {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 354px;
                line-height: 40px; 
                text-align: center;
                @media screen and (max-width: 1023.9px) {
                        width: 573px;
                        line-height: 36px; 
                        flex-direction: row;
                }

                @media screen and (max-width: 767.9px) {
                        width: 343px;
                        flex-direction: column;
                        gap: 40px;
                }

                span { 
                        display: inline-block;
                        width: 56px;
                        height: 56px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include heading_typography(1.5rem);
                        border: 1px $tertiary_text_color solid;
                        border-radius: 50%;
                        color: $secondary_text_color;

                        @media screen and (max-width: 1023.9px) {
                                width: 48px;
                                height: 46px;
                                @include heading_typography(1.25rem);
                        } 
                }

                h2 {
                        @include heading_typography(2rem);
                        margin: 56px 0 28px;

                        @media screen and (max-width: 1023.9px) {
                                @include heading_typography(1.75rem);
                                margin: 0 0 16px 0;
                        }
                }

                .feature-text {
                        @media screen and (max-width: 1023.9px) {
                                text-align: justify;
                                padding-left: 32px;
                                padding-right: 15px;
                        }  

                        @media screen and (max-width: 767.9px) {
                                text-align: center;
                                padding: 0;
                        }

                        @media screen and (max-width: 350px) {
                                margin: 0 1rem;
                        }
                }

                p {
                        color: $tertiary_text_color;
                        line-height: 32px;

                        @media screen and (max-width: 767.9px) {
                                line-height: 28px;
                        }
                }
        }
}

.repeat_offer {
        padding-top: 119px;

        @media screen and (max-width: 1023.9px) {
                padding-top: 100.27px;
        }   

        .wrapper{
                max-width: 1114px;
                margin: auto;
                position: relative;

                @media screen and (max-width: 1023.9px) {
                        max-width: 728px;
                }  

                @media screen and (max-width: 767.9px) {
                        max-width: 343px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                }
        }

        .profil_photo {
                width: 450.287px;
                height: 453px; 
                object-fit: contain;

                @media screen and (max-width: 1023.9px) {
                        width: 265px;
                        height: 267px;
                }  

                @media screen and (max-width: 767.9px) {
                        width: 281px;
                        height: 281px;
                }  
        }
        
        .offer {
                background-color: $primary_background_color;
                padding: 64px;
                position: absolute;
                top: 181px;
                left: 382.14px;
                line-height: 32px;

                @media screen and (max-width: 1023.9px) {
                        top: 151px;
                        left: 175px;
                        padding: 48px 56px 56px;
                        line-height: 28px;
                }

                @media screen and (max-width: 767.9px) {
                        padding: 32px 31px;
                        top: 228px;
                        left: 0;
                        text-align: center;
                }

                h2 {
                        @include heading_typography(3.5rem);
                        margin-bottom: 32px;
                        line-height: 64px; 

                        @media screen and (max-width: 1023.9px) {
                                @include heading_typography(2.5rem);
                                margin-bottom: 24px;
                                line-height: 56px;
                        }

                        @media screen and (max-width: 767.9px) {
                                @include heading_typography(2rem);
                                margin-bottom: 16px;
                        }
                }

                p {
                        margin-bottom: 32px;
                        line-height: 32px;

                        @media screen and (max-width: 1023.9px) {
                                margin-bottom: 24px;
                                line-height: 28px;
                                max-width: 402px;
                        }
                }

                .pattern-three {
                        position: absolute;
                        right: 72.69px;
                        bottom: -61.74px;

                        @media screen and (max-width: 1023.9px) {
                                right: 12.69px;
                                bottom: -105.74px;
                        }

                        @media screen and (max-width: 767.9px) {
                                display: none;
                        }
                }

                a {
                        @include primary_default;
                        line-height: 32px; 
                        font-weight: 700;
                }

                a:hover {
                        @include primary_hover;
                }
        }
}

/* Style footer */

footer {
        text-align: center;
        .references{
                width: 116px;
                height: 102.224px;
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-top: 230px;
                margin-bottom: 110px;

                @media screen and (max-width: 1023.9px) {
                        margin-top: 320px;
                        margin-bottom: 121.78px;
                }

                @media screen and (max-width: 767.9px) {
                        margin-top: 391px;
                        margin-bottom: 63.78px;
                }

        }
        
        .social_media {
                width: 100%;
                display: flex;
                justify-content: space-between;
        }
}
