@mixin heading_typography($size){
    font-family: 'Fraunces', sans-serif;
    font-size: $size;
}

@mixin primary_default {
    align-self: center;
    padding: 13px 24.5px 16px 25.5px;
    background-color: $emphasize_color;
    color: $secondary_text_color;
}

@mixin primary_hover {
    color: $emphasize_color;
    border: 2px $emphasize_color solid;
    background-color: $primary_background_color;
}

@mixin secondary_default {
    border-bottom: 3px $emphasize_color solid;
}

@mixin curved_border {
    border-bottom-left-radius: 100% 15%;
    border-bottom-right-radius: 100% 15%; 
}