$primary_background_color: #24053E;
$secondary_background_color: #FCF8FF;
$tertiary_background_color: #FFFFFF;

$emphasize_color: #44FFA1;

$primary_text_color: #FFFFFF;
$secondary_text_color: #24053E;
$tertiary_text_color: #584D62;

$body_font_family: 'Manrope', sans-serif;